pip>=23.0
torch
torchvision
torchaudio
transformers==4.36.2
tokenizers==0.15.2
langchain
langchain-community
langchain-text-splitters
langchain-huggingface
sentence-transformers==2.2.2
faiss-cpu
python-docx
python-pptx
PyPDF2
nltk
huggingface-hub==0.25.2
